@use "../abstracts" as *;

// Style Guide - Colors
:root {
    --color-primary: #6427ff;
    --color-primary-bg: #e7deff;
    --color-primary-hover: #8b5dff;
    --color-primary-2: #AF91FD;

    --color-red: #c92b2c;
    --color-green: #008000;

    --color-dark-grey: #6f7276;
    --color-grey: #cecece;
    --color-light-grey: #f4f4f4;
    --color-grey-2: #8B8F94;

    --color-black: #222222;
    --color-white: #fcfcfc;

    /* Style Guide - Paddings, margins etc... */
    --padding: 1rem;
    --padding-desktop: 6rem;

    /* Heights & Widths */
    --header-height: 4rem;
}

#__nuxt {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    // background: linear-gradient(180deg, #fcfcfc -7.78%, #f9f6ff 63.47%, #fcfcfc 99.3%, #eee8fc 124.05%);
    background-color: #F8F5FF; //TODO: Hardcoded
}

body {
    color: $color-black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    // background: linear-gradient(180deg, #fcfcfc -7.78%, #f9f6ff 63.47%, #fcfcfc 99.3%, #eee8fc 124.05%) !important;
    background-color: #F8F5FF; //TODO: Hardcoded
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    // background: linear-gradient(180deg, #fcfcfc -7.78%, #f9f6ff 63.47%, #fcfcfc 99.3%, #eee8fc 124.05%) !important;
    background-color: #F8F5FF; //TODO: Hardcoded
    padding: 1rem;
}

a {
    color: $color-primary;
}

a:hover {
    color: $color-primary-hover;
}
