@use '../abstracts' as *;

#__nuxt {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(180deg, #FCFCFC -7.78%, #F9F6FF 63.47%, #FCFCFC 99.3%, #EEE8FC 124.05%);
}

body {
    color: $color-black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    // background-color: #F8F5FF; //TODO: Hardcoded
    background: linear-gradient(180deg, #FCFCFC -7.78%, #F9F6FF 63.47%, #FCFCFC 99.3%, #EEE8FC 124.05%) !important;
    
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: linear-gradient(180deg, #FCFCFC -7.78%, #F9F6FF 63.47%, #FCFCFC 99.3%, #EEE8FC 124.05%) !important;
    // background-color: $color-white;
    padding: 1rem;
}

a {
    color: $color-primary;
}

a:hover {
    color: $color-primary-hover;
}
