// Style Guide - Colors

$color-primary: #6427FF;
$color-primary-bg: #E7DEFF;
$color-primary-hover: #8B5DFF;

$color-red: #C92B2C;
$color-green: #008000;

$color-dark-grey:#6F7276;
$color-grey: #CECECE;
$color-light-grey: #F4F4F4;

$color-black: #222222;
$color-white: #FCFCFC;

// Style Guide - Paddings, margins etc...
$padding: 1rem;
$padding-desktop: 6rem;

// Heights & Widths
$header-height: 4rem;
